.login-root {
    -fx-background-color: #F5F7FF;
}


.login-background {
    -fx-background-color: linear-gradient(to bottom right, #eef2ff, #ffffff);
}

.login-title {
    -fx-font-size: 36px;
    -fx-font-weight: 700;
    -fx-text-fill: #4a4ae6;
}

.login-subtitle {
    -fx-font-size: 18px;
    -fx-text-fill: #777;
}

.input-field {
    -fx-pref-width: 260px;
    -fx-padding: 12px 15px;
    -fx-background-radius: 10;
    -fx-font-size: 15px;
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-radius: 10;
}

.input-field:focused {
    -fx-border-color: #7a5cff;
    -fx-background-color: #fafaff;
}

.primary-button {
    -fx-background-color: #6c63ff;
    -fx-text-fill: white;
    -fx-padding: 12px 20px;
    -fx-background-radius: 12;
    -fx-font-size: 16px;
    -fx-font-weight: 600;
}

.primary-button:hover {
    -fx-background-color: #7b72ff;
}

.secondary-button {
    -fx-background-color: transparent;
    -fx-border-color: #6c63ff;
    -fx-border-width: 2;
    -fx-border-radius: 12;
    -fx-text-fill: #6c63ff;
    -fx-padding: 10px 20px;
    -fx-font-size: 15px;
    -fx-font-weight: 500;
}

.secondary-button:hover {
    -fx-background-color: #f2f0ff;
}

.message-label.error {
    -fx-text-fill: #e74c3c;
    -fx-font-weight: 600;
}

.message-label.success {
    -fx-text-fill: #2ecc71;
    -fx-font-weight: 600;
}
